/*.contact-us-section{
    padding: 40px 0;
    height: 120vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(4, 214, 175);
    background-color:rgba(24,27,58,255);
     /* justify-content: center; */
    /* display: flex; */
    /* align-items: center; */
    /* background-image: url('/bg.jpg'); /* Replace with your image URL */
    /* text-align: center; 

  }

  .contact-section{
    display: flex; 
    gap: 30px;
    justify-content: center;
    /* text-align: center;
    color: rgb(13, 13, 13);
    font-size: 100px;
    font-style: italic; */
    /*margin-bottom: 10px;
    

  }

  .contact-box {
    flex-basis: calc(50% - 20px);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: left;
    width: 600px;
    height: 400px;
    
  }
  .contact-txt{
    font-size: medium;
    text-align: left;
    width: 600px;
    height: 400px;
    padding: 20px;
    color: rgb(4, 214, 175);
    

  }*/
  
 

.contact-us-section {
  padding: 40px 20px; 
  height: auto; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(4, 214, 175);
  background-color: rgba(24, 27, 58, 255);
}

.contact-section {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  justify-content: center;
}

.contact-box {
  flex-basis: calc(50% - 20px);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: left;
    width: 600px;
    height: 400px;
    
}

.contact-txt {
  font-size: medium;
  text-align: left;
  padding: 20px;
  color: rgb(4, 214, 175);
  text-decoration: none;
}



@media (min-width: 768px) {
  .contact-section {
      flex-direction: row; 
  }

  .contact-box {
      flex-basis: calc(50% - 20px);
  }
}
